<div class="pb-5">
  <a class="btn btn-light btn-small" href="add" role="button" style="float:right"><i class="bi bi-person"></i>Add</a>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td class="text-center">
        <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</a>
        <a href="edit/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
        <a href="delete/{{this.id}}"  onclick="return confirm('Are you sure you want to delete {{this.first_name}}');" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>