<input type="text" name="name" id="name">
<button onclick="valid()">Submit</button>
<script>
	function valid(){
		var name = document.getElementById("name").value;
		//console.log(name);	
			alert(`Hii ${name}`);
	}	
</script>
