<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">                                
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Change Password</h4>
              </div>                                                                        
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <form class="user_form" method="POST" action="/profile/change-password-action" enctype="multipart/form-data">
              
              <input type="hidden" name="iUserId" id="iUserId" value="{{iUserId}}">

              <div class="form-group row mb-4">
                <label for="vPassword" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Password</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="password" class="form-control" name="vPassword" id="vPassword" placeholder="Password">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="vPassword" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="password" class="form-control" name="vConfirmPassword" id="vConfirmPassword" placeholder="Confirm Password">
                  <div class="error" id="vConfirmPasswordError" style="display: none; color:tomato;">Confirm password is not match</div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-primary mt-3 save">Save</button>
                  <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin mr-2"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>Loading</button>
                  <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).on('click','.cancel',function(){
        location.href = "/dashboard";
    });

    $(document).on('click','.save',function(){         
      var vPassword         = $("#vPassword").val();
      var vConfirmPassword  = $("#vConfirmPassword").val();
      var vError            = false;

      if(vPassword.length == 0){
        $("#vPassword").addClass('border border-danger');
        vError = true;
      } else {
        $("#vPassword").removeClass('border border-danger');
      }

      if(vConfirmPassword.length == 0){
        $("#vConfirmPassword").addClass('border border-danger');
        vError = true;
      } else {
        $("#vConfirmPassword").removeClass('border border-danger');
      }

      if(vPassword != vConfirmPassword){
        $("#vConfirmPasswordError").show();
        vError = true;
      }else{
        $("vConfirmPasswordError").show()
      }
      
      if(vError == true) {
        return false;
      } else {
        $(".save").hide();
        $(".save_loader").show();  
        setTimeout(function(){
            $(".user_form").submit();
            return true;
        }, 500);
      } 

    });
</script>