<div class="form-container outer">
  <div class="form-form">
    <div class="form-form-wrap">
      <div class="form-container">
        <div class="form-content">

          <h1 class="">Sign In</h1>
          <p class="">Admin Account Panel</p>

          <form class="text-left login_form" method="POST" action="/login/login_action">
            <div class="form">

              <div id="username-field" class="field-wrapper input">
                <label for="username">USERNAME</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <input id="vEmail" name="vEmail" type="text" class="form-control" placeholder="Email">
              </div>

              <div id="password-field" class="field-wrapper input mb-2">
                <div class="d-flex justify-content-between">
                  <label for="password">PASSWORD</label>
                </div>
                <div class="vPasswordEye">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-lock">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>
                  <input id="vPassword" name="vPassword" type="password" class="form-control" placeholder="Password">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    id="toggle-password" class="feather feather-eye">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                </div>
              </div>
              <div class="d-sm-flex justify-content-between">
                <div class="field-wrapper text-center">
                  <button type="button" class="btn btn-primary login_button">Log In</button>
                  <button type="button" class="btn btn-primary mt-3 login_loader" style="display: none;"><svg
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-loader spin mr-2 text-white">
                      <line x1="12" y1="2" x2="12" y2="6"></line>
                      <line x1="12" y1="18" x2="12" y2="22"></line>
                      <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                      <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                      <line x1="2" y1="12" x2="6" y2="12"></line>
                      <line x1="18" y1="12" x2="22" y2="12"></line>
                      <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                      <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>Loading</button>
                </div>
              </div>

              <p class="signup-link">Forgot Password ? <a href="javascript:;">Reset Here</a></p>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.login_button', function () {
    var vEmail = $("#vEmail").val();
    var vPassword = $("#vPassword").val();
    var vError = false;

    if (vEmail.length == 0) {
      $("#vEmail").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vEmail").removeClass('.border border-danger');
    }

    if (vPassword.length == 0) {
      $("#vPassword").addClass('.border border-danger');
      vError = true;
    } else {
      $("#vPassword").removeClass('.border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".login_button").hide();
      $(".login_loader").show();
      setTimeout(function () {
        $(".login_form").submit();
        return true;
      }, 1000);
    }

  });

  $(document).on("click", ".vPasswordEye", function () {
    var eType = $("#vPassword").prop("type");
    if (eType == "password") {
      $("#vPassword").attr("type", "text");
      $(".vPasswordEye").removeClass("fa fa-eye-slash");
      $(".vPasswordEye").addClass("fa fa-eye");
    }
    else {
      $("#vPassword").attr("type", "password");
      $(".vPasswordEye").removeClass("fa fa-eye");
      $(".vPasswordEye").addClass("fa fa-eye-slash");
    }
  });
</script>