<form method="POST" class="needs-validation" action="/add_action" novalidate>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" id="" required name="name" aria-describedby="emailHelp">
        <div class="invalid-feedback">
            Please Enter Name.
        </div>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Age</label>
        <input type="text" class="form-control" id="" required name="age" aria-describedby="emailHelp" required>
        <div class="invalid-feedback">
            Please Enter Age.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">City</label>
        <input type="text" class="form-control" name="city" required>
        <div class="invalid-feedback">
            Please Enter City.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Select Country</label>
        <select  name="country" class="form-select">
            <option value="" selected="selected">Please Choose</option>
        {{#each country}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{!-- <option value=""></option> --}}
        {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        <a href="/" type="button" class="btn btn-danger btn-small">Cancel</a>
    </div>

</form>
<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>