<form method="POST" action="/edit_action">
    <div class="mb-3">
        <input type="text" class="form-control" name="id" aria-describedby="emailHelp" value="{{data._id}}" hidden>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="{{data.name}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Age</label>
        <input type="text" class="form-control" name="age" value="{{data.age}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">City</label>
        <input type="text" class="form-control" name="city" value="{{data.city}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Select Country</label>
        <select  name="country" class="form-select">
        {{#each country as |value key|}}
            <option value="{{value._id}}" {{ isSelected value._id  ../data.country_id }}>{{value.name}}</option>
            {{!-- <option value=""></option> --}}
        {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
    <a href="/" type="button" class="btn btn-danger btn-small">Cancel</a>

</form> 