<div class="pb-5">
  <a class="btn btn-light btn-small" href="add" role="button" style="float:right"><i class="bi bi-person"></i>Add</a>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">age</th>
      <th scope="col">city</th>
      <th scope="col">Country</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.city}}</td>
      <td>{{this.country_id.name}}</td>
      <td class="text-center">
        {{!-- <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</a> --}}
        <a href="edit/{{this._id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
        <a href="delete/{{this._id}}"  onclick="return confirm('Are you sure you want to delete {{this.name}}');" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>