<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>eShop Admin Panel</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/libs/underscore.min.js"></script>

    <link href="/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/forms/switches.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/plugins/noUiSlider/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/plugins/noUiSlider/custom-nouiSlider.css" rel="stylesheet" type="text/css">
    <link href="/plugins/bootstrap-range-Slider/bootstrap-slider.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/apps/invoice.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/tokenize2.css" rel="stylesheet" />
    <link href="/assets/css/toast.style.css" rel="stylesheet" />
</head>

<body>
    {{#if is_layout}}
    {{>header}}
    <div class="main-container" id="container">
        <div class="main-content" id="content">
            {{>left}}
            {{/if}}


            <div class="layout-px-spacing">
                {{{body}}}
            </div>

            {{#if is_layout}}
        </div>
        {{>footer}}
        {{/if}}
    </div>

    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="/assets/js/custom.js"></script>
    <script src="/plugins/apex/apexcharts.min.js"></script>
    <script src="/assets/js/dashboard/dash_1.js"></script>
    <script src="/assets/js/authentication/form-2.js"></script>
    <script src="/plugins/highlight/highlight.pack.js"></script>
    <script src="/assets/js/scrollspyNav.js"></script>
    <script src="/plugins/flatpickr/flatpickr.js"></script>
    <script src="/plugins/noUiSlider/nouislider.min.js"></script>
    <script src="/plugins/flatpickr/custom-flatpickr.js"></script>
    <script src="/plugins/noUiSlider/custom-nouiSlider.js"></script>
    <script src="/plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js"></script>
    <script src="/assets/js/apps/invoice.js"></script>
    <script src="/plugins/select2/select2.min.js"></script>
    <script src="/plugins/select2/custom-select2.js"></script>
    <script src="/assets/js/words.js"></script>
    <script src="/assets/js/toast.script.js"></script>
    <script src="/assets/js/site.js"></script>

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    {{#if sessionFlash.error }}
    <script>
        $.Toast("{{ sessionFlash.error }}", "", "error", {
            has_icon: true,
            has_close_btn: true,
            stack: true,
            fullscreen: false,
            timeout: 3000,
            sticky: false,
            has_progress: true,
            rtl: false,
        });
    </script>
    {{/if}}

    {{#if sessionFlash.success }}
    <script>
        $.Toast("{{ sessionFlash.success }}", "", "success", {
            has_icon: true,
            has_close_btn: true,
            stack: true,
            fullscreen: false,
            timeout: 3000,
            sticky: false,
            has_progress: true,
            rtl: false,
        });
    </script>
    {{/if}}
</body>

</html>