<div class="overlay"></div>
<div class="search-overlay"></div>

<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">

            {{ var dashboard_array = ['DashboardController', 'UserController'] }}

            <li class="menu">
                <a href="/dashboard" {{#if_equal route 'dashboard' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>


            <li class="menu">
                <a href="#app" {{#if_equal route 'user' }} data-active="false" aria-expanded="true" {{/if_equal}}
                    {{#if_equal route 'offer' }} data-active="false" aria-expanded="true" {{/if_equal}}
                    data-toggle="collapse" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-cpu">
                            <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                            <rect x="9" y="9" width="6" height="6"></rect>
                            <line x1="9" y1="1" x2="9" y2="4"></line>
                            <line x1="15" y1="1" x2="15" y2="4"></line>
                            <line x1="9" y1="20" x2="9" y2="23"></line>
                            <line x1="15" y1="20" x2="15" y2="23"></line>
                            <line x1="20" y1="9" x2="23" y2="9"></line>
                            <line x1="20" y1="14" x2="23" y2="14"></line>
                            <line x1="1" y1="9" x2="4" y2="9"></line>
                            <line x1="1" y1="14" x2="4" y2="14"></line>
                        </svg>
                        <span>General</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled {{#if_equal route 'user' }} show {{/if_equal}} {{#if_equal route 'offer' }} show {{/if_equal}} {{#if_equal route 'language-label' }} show {{/if_equal}}"
                    id="app" data-parent="#accordionExample">
                    <li {{#if_equal route 'user' }} class="active" {{/if_equal}}>
                        <a href="/user" class="text-primary"> User </a>
                    </li>
                    <li {{#if_equal route 'offer' }} class="active" {{/if_equal}}>
                        <a href="/offer" class="text-primary"> Offer </a>
                    </li>
                    <li {{#if_equal route 'language-label' }} class="active" {{/if_equal}}>
                        <a href="/language-label" class="text-primary"> Language Label</a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#components" {{#if_equal route 'category' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} {{#if_equal route 'product' }} data-active="false" aria-expanded="true" {{/if_equal}}
                    data-toggle="collapse" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-box">
                            <path
                                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                            </path>
                            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                            <line x1="12" y1="22.08" x2="12" y2="12"></line>
                        </svg>
                        <span>Master</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled {{#if_equal route 'category' }} show {{/if_equal}} {{#if_equal route 'product' }} show {{/if_equal}}"
                    id="components" data-parent="#accordionExample">
                    <li {{#if_equal route 'category' }} class="active" {{/if_equal}}>
                        <a href="/category" class="text-primary"> Category </a>
                    </li>
                    <li {{#if_equal route 'product' }} class="active" {{/if_equal}}>
                        <a href="/product" class="text-primary"> Product </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#elements" {{#if_equal route 'company-detail' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} {{#if_equal route 'email-setting' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} {{#if_equal route 'system-email' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} {{#if_equal route 'social-setting' }} data-active="false" aria-expanded="true"
                    {{/if_equal}} data-toggle="collapse" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-zap">
                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                        </svg>
                        <span>Setting</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled {{#if_equal route 'company-detail' }} show {{/if_equal}} {{#if_equal route 'email-setting' }} show {{/if_equal}} {{#if_equal route 'system-email' }} show {{/if_equal}} {{#if_equal route 'social-setting' }} show {{/if_equal}}"
                    id="elements" data-parent="#accordionExample">
                    <li {{#if_equal route 'company-detail' }} class="active" {{/if_equal}}>
                        <a href="/company-detail/edit/62c28abe42661452c9445fbf" class="text-primary"> Company </a>
                    </li>
                    <li {{#if_equal route 'email-setting' }} class="active" {{/if_equal}}>
                        <a href="/email-setting/edit/62bb12cdc143900bf1d629c9" class="text-primary"> Email Credentials
                        </a>
                    </li>
                    <li {{#if_equal route 'system-email' }} class="active" {{/if_equal}}>
                        <a href="/system-email" class="text-primary"> System Email </a>
                    </li>
                    <li {{#if_equal route 'social-setting' }} class="active" {{/if_equal}}>
                        <a href="/social-setting/edit/62c2c87610e250a31a8d9c33" class="text-primary"> Social </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>