{{#each offerData as |value key| }}

    <tr>
        <td>{{value.vOffer}}</td>
        <td>{{value.eType}}</td>
        <td>{{value.vValue}}</td>
        <td class="text-center">
            {{#if_equal value.eStatus "Active"}}
            <span class="badge badge-success">{{value.eStatus}}</span>
            {{/if_equal}}
            {{#if_equal value.eStatus "Inactive"}}
            <span class="badge badge-danger">{{value.eStatus}}</span>
            {{/if_equal}}
        </td>
        <td class="text-center">
            {{#if_equal value.eFeature "Yes"}}
            <span class="badge badge-warning">{{value.eFeature}}</span>
            {{/if_equal}}
            {{#if_equal value.eFeature "No"}}
            <span class="badge badge-dark">{{value.eFeature}}</span>
            {{/if_equal}}
        </td>
        <td class="text-center">
            <a href="/offer/edit/{{value._id}}"  data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit text-success"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>
            <a href="javascript:void(0);" class="delete" data-id="{{value._id}}" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle text-danger"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></a>
        </td>
    </tr>
{{/each}}

{{#if_count offerData}}
    <tr>
        <td colspan="7" align="center">
            {{{paginator.vPagination}}}
        </td>
    </tr>
{{else}}
    <tr class="text-center">
        <td colspan="7">No Record Found</td>
    </tr>
{{/if_count}}