<div class="container1">
    <div class="ml-3 mr-3">
        <div class="row">
            <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Add Language Label</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <form class="frm" method="POST" action="/language-label/add_action"
                            enctype="multipart/form-data">

                            <input type="hidden" name="iLanguageLabelId" value="{{languageLabelData._id}}">

                            <div class="form-group row mb-4">
                                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Label</label>
                                <div class="col-xl-10 col-lg-9 col-sm-10">
                                    <input type="text" class="form-control" name="vLabel" id="vLabel"
                                        placeholder="Enter Label" value="{{languageLabelData.vLabel}}">
                                </div>
                            </div>

                            <div class="form-group row mb-4">
                                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Title</label>
                                <div class="col-xl-10 col-lg-9 col-sm-10">
                                    <input type="text" class="form-control" name="vTitle" id="vTitle"
                                        placeholder="Enter Title" value="{{languageLabelData.vTitle}}">
                                </div>
                            </div>

                            <div class="form-group row mb-4">
                                <label for="eStatus" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Status</label>
                                <div class="col-xl-10 col-lg-9 col-sm-10">
                                    <select class="form-control" name="eStatus" id="eStatus">
                                        <option value="">Select Status</option>

                                        <option value="Active" {{#if_equal languageLabelData.eStatus "Active" }}
                                            selected {{/if_equal}}>Active
                                        </option>
                                        <option value="Inactive" {{#if_equal languageLabelData.eStatus "Inactive" }}
                                            selected {{/if_equal}}>
                                            Inactive</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12 text-right">
                                    <button type="button" class="btn btn-primary mt-3 save">Save</button>
                                    <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-loader spin mr-2">
                                            <line x1="12" y1="2" x2="12" y2="6"></line>
                                            <line x1="12" y1="18" x2="12" y2="22"></line>
                                            <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                                            <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                                            <line x1="2" y1="12" x2="6" y2="12"></line>
                                            <line x1="18" y1="12" x2="22" y2="12"></line>
                                            <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                                            <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                                        </svg>Loading</button>
                                    <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.cancel', function () {
        location.href = "/language-label";
    });

    $(document).on('click', '.save', function () {

        var vLabel = $("#vLabel").val();
        var vTitle = $("#vTitle").val();
        var eStatus = $("#eStatus").val();
        var vError = false;

        if (vLabel.length == 0) {
            $("#vLabel").addClass('border border-danger');
            vError = true;
        } else {
            $("#vLabel").removeClass('border border-danger');
        }

        if (vTitle.length == 0) {
            $("#vTitle").addClass('border border-danger');
            vError = true;
        } else {
            $("#vTitle").removeClass('border border-danger');
        }

        if (eStatus.length == 0) {
            $("#eStatus").addClass('border border-danger');
            vError = true;
        } else {
            $("#eStatus").removeClass('border border-danger');
        }

        if (vError == true) {
            return false;
        } else {
            $(".save").hide();
            $(".save_loader").show();
            setTimeout(function () {
                $(".frm").submit();
                return true;
            }, 500);
        }

    });
</script>