<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>{{#if productData._id}} Edit {{else}} Add {{/if}} Product</h4>
              </div>
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <form class="product_form" method="POST" action="/product/add_action" enctype="multipart/form-data">

              <input type="hidden" name="iProductId" value="{{productData._id}}">

              <div class="form-group row mb-4">
                <label for="iCategoryId" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Category</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="iCategoryId" id="iCategoryId">
                    <option value="">Select Category</option>
                    {{#each categoryData as |value key| }}
                    <option value="{{ value._id }}" {{ isSelected value._id ../productData.iCategoryId }}>{{
                      value.vCategory }}</option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="vProduct" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Product</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vProduct" id="vProduct" placeholder="Product"
                    value="{{productData.vProduct}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="iPrice" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Price</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control numeric" name="iPrice" id="iPrice" placeholder="Price"
                    value="{{productData.iPrice}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eStatus" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Status</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eStatus" id="eStatus">
                    <option value="">Select Status</option>

                    <option value="Active" {{#if_equal productData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal productData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive</option>

                  </select>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eFeature" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Feature</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eFeature" id="eFeature">
                    <option value="">Select Feature</option>
                    <option value="Yes" {{#if_equal productData.eFeature "Yes" }} selected {{/if_equal}}>Yes</option>
                    <option value="No" {{#if_equal productData.eFeature "No" }} selected {{/if_equal}}>
                      No</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="vImage" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Upload Image</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="file" class="form-control" name="vImage" id="vImage" value="{{productData.vImage}}"
                    onchange="showPreview(event);">
                  {{#if productData.vImage}}
                  <div class="image_div">
                    <img src="/upload/product/{{productData.vImage}}" style="height: 100px;">
                  </div>
                  {{/if}}
                  <img src="" id="image_preview" style="height: 100px; display: none;">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-primary mt-3 save">Save</button>
                  <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-loader spin mr-2">
                      <line x1="12" y1="2" x2="12" y2="6"></line>
                      <line x1="12" y1="18" x2="12" y2="22"></line>
                      <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                      <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                      <line x1="2" y1="12" x2="6" y2="12"></line>
                      <line x1="18" y1="12" x2="22" y2="12"></line>
                      <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                      <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>Loading</button>
                  <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/product";
  });

  $(document).on("input", ".numeric", function () {
    this.value = this.value.replace(/\D/g, '');
  });

  function showPreview(event) {
    $(".image_div").hide();
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("image_preview");
    preview.src = src;
    preview.style.display = "block";
  }

  $(document).on('click', '.save', function () {

    var iCategoryId = $("#iCategoryId").val();
    var vProduct = $("#vProduct").val();
    var iPrice = $("#iPrice").val();
    var eStatus = $("#eStatus").val();
    var eFeature = $("#eFeature").val();
    var vError = false;

    if (iCategoryId.length == 0) {
      $("#iCategoryId").addClass('border border-danger');
      vError = true;
    } else {
      $("#iCategoryId").removeClass('border border-danger');
    }

    if (vProduct.length == 0) {
      $("#vProduct").addClass('border border-danger');
      vError = true;
    } else {
      $("#vProduct").removeClass('border border-danger');
    }

    if (iPrice.length == 0) {
      $("#iPrice").addClass('border border-danger');
      vError = true;
    } else {
      $("#iPrice").removeClass('border border-danger');
    }

    if (eStatus.length == 0) {
      $("#eStatus").addClass('border border-danger');
      vError = true;
    } else {
      $("#eStatus").removeClass('border border-danger');
    }

    if (eFeature.length == 0) {
      $("#eFeature").addClass('border border-danger');
      vError = true;
    } else {
      $("#eFeature").removeClass('border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".product_form").submit();
        return true;
      }, 500);
    }

  });
</script>