<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="tableFooter" class="col-xl-12 col-md-12 col-sm-12 col-12 layout-spacing layout-top-spacing">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-9 col-md-9 col-sm-12 col-9 text-left">
                <h4>Product Listing</h4>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-12 col-2 text-right">
                <a href="javascript:;" class="btn btn-outline-danger" id="delete_btn">Multi Delete</a>
              </div>
              <div class="col-xl-1 col-md-1 col-sm-12 col-1 text-right">
                <a href="/product/add" data-toggle="tooltip" data-placement="top" title="Add"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus-circle text-primary">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="16"></line>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-condensed mb-4">
                <thead>
                  <tr align="center">
                    <th></th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Offer</th>
                    <th>Status</th>
                    <th>Feature</th>
                    <th class="text-center">Action</th>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" id="selectall" name="selectall" />
                    </td>
                    <td></td>
                    <td>
                      <select class="form-control form-control-sm keyword" id="iCategoryId">
                        <option value="">Category</option>
                        {{#each categoryData as |value key| }}
                        <option value="{{ value._id }}">{{ value.vCategory }}</option>
                        {{/each}}
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control form-control-sm keyword" placeholder="Product"
                        id="vProduct">
                    </td>
                    <td>
                      <input type="number" class="form-control form-control-sm keyword" placeholder="Price" id="iPrice"
                        min="0">
                    </td>
                    <td>
                      <select class="form-control form-control-sm keyword" id="iOfferId">
                        <option value="">Offer</option>
                        {{#each offerData as |value key| }}
                        <option value="{{ value._id }}">{{ value.vOffer }}</option>
                        {{/each}}
                      </select>
                    </td>
                    <td>
                      <select class="form-control form-control-sm" id="eStatus">
                        <option value="">Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control form-control-sm" id="eFeature">
                        <option value="">Feature</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody id="table_record"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#selectall").click(function () {
    if (this.checked) {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', true);
      });
    } else {
      $('.checkboxall').each(function () {
        $(".checkboxall").prop('checked', false);
      });
    }
  });

  function filter(iProductId, vAction, vPage) {
    var vProduct = $("#vProduct").val();
    var iPrice = $("#iPrice").val();
    var eStatus = $("#eStatus").val();
    var eFeature = $("#eFeature").val();
    var iCategoryId = $("#iCategoryId").val();
    var iOfferId = $("#iOfferId").val();
    var iProductId = iProductId;
    var vAction = vAction;
    var vPage = vPage;

    $("#table_record").html('');
    $("#table_record").html('<tr><td colspan="9"><div class="loader multi-loader mx-auto"></div></td></tr>');

    $.ajax({
      url: "/product/ajax_product",
      type: "POST",
      data: { iCategoryId: iCategoryId, vProduct: vProduct, iPrice: iPrice, eStatus: eStatus, eFeature: eFeature, iProductId: iProductId, iOfferId: iOfferId, vAction: vAction, vPage: vPage },
      success: function (response) {
        $("#table_record").html(response);
      }
    });
  }

  $(document).ready(function () {
    filter("", "search", "");
  });

  $('.keyword').keyup(_.debounce(function () {
    filter("", "search", "");
  }, 1000));

  $(document).on('change', '#eStatus', function () {
    filter("", "search", "");
  });

  $(document).on('change', '#eFeature', function () {
    filter("", "search", "");
  });

  $(document).on('click', '.delete', function () {
    if (confirm('Are you sure to delete this record ?')) {
      filter($(this).data("id"), "delete", "");
    }
  });

  $(document).on('change', '#iCategoryId', function () {
    filter("", "search", "");
  });

  $(document).on('change', '#iOfferId', function () {
    filter("", "search", "");
  });

  $(document).on('click', '.ajax_page', function () {
    var vPage = $(this).data("id");
    filter("", "search", vPage);
  });

  $(document).on('click', '#delete_btn', function () {
    var iProductId = [];

    $("input[name='iProductId[]']:checked").each(function () {
      iProductId.push($(this).val());
    });

    var iProductId = iProductId.join(",");

    if (iProductId.length == 0) {
      alert('Please select records.')
    } else {
      if (confirm('Are you sure delete this record?')) {
        filter(iProductId, "multiple_delete", "");
      }
      $("#selectall").prop('checked', false);
    }
  });

</script>