<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Add User</h4>
              </div>
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <form class="user_form" method="POST" action="/user/add_action" enctype="multipart/form-data">

              <input type="hidden" name="iUserId" id="iUserId" value="{{userData._id}}">

              <div class="form-group row mb-4">
                <label for="vFirstName" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">FirstName</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vFirstName" id="vFirstName" placeholder="FirstName"
                    value="{{userData.vFirstName}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="vLastName" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">LastName</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vLastName" id="vLastName" placeholder="LastName"
                    value="{{userData.vLastName}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="vEmail" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Email</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vEmail" id="vEmail" placeholder="Email"
                    value="{{userData.vEmail}}">
                </div>
              </div>

              {{#if_condition userData null}}
              <div class="form-group row mb-4">
                <label for="vPassword" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Password</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="password" class="form-control" name="vPassword" id="vPassword" placeholder="Password"
                    value="{{userData.vPassword}}">
                </div>
              </div>
              {{/if_condition}}

              <div class="form-group row mb-4">
                <label for="vImage" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Upload Image</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="file" class="form-control" name="vImage" id="vImage" value="{{userData.vImage}}">
                  {{#if userData.vImage}}
                  <img src="/upload/user/{{userData.vImage}}" style="height: 100px;">
                  {{/if}}
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eType" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Type</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eType" id="eType">
                    <option value="">Select Type</option>

                    <option value="Admin" {{#if_equal userData.eType "Admin" }} selected {{/if_equal}}>Admin</option>
                    <option value="User" {{#if_equal userData.eType "User" }} selected {{/if_equal}}>User</option>

                  </select>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eStatus" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Status</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eStatus" id="eStatus">
                    <option value="">Select Status</option>

                    <option value="Active" {{#if_equal userData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal userData.eStatus "Inactive" }} selected {{/if_equal}}>Inactive
                    </option>

                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-primary mt-3 save">Save</button>
                  <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-loader spin mr-2">
                      <line x1="12" y1="2" x2="12" y2="6"></line>
                      <line x1="12" y1="18" x2="12" y2="22"></line>
                      <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                      <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                      <line x1="2" y1="12" x2="6" y2="12"></line>
                      <line x1="18" y1="12" x2="22" y2="12"></line>
                      <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                      <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>Loading</button>
                  <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/user";
  });

  $(document).on('click', '.save', function () {
    var iUserId = $("#iUserId").val();
    var vFirstName = $("#vFirstName").val();
    var vLastName = $("#vLastName").val();
    var vEmail = $("#vEmail").val();
    var vPassword = $("#vPassword").val();
    var eType = $("#eType").val();
    var eStatus = $("#eStatus").val();
    var vError = false;

    if (vFirstName.length == 0) {
      $("#vFirstName").addClass('border border-danger');
      vError = true;
    } else {
      $("#vFirstName").removeClass('border border-danger');
    }

    if (vLastName.length == 0) {
      $("#vLastName").addClass('border border-danger');
      vError = true;
    } else {
      $("#vLastName").removeClass('border border-danger');
    }

    if (vEmail.length == 0) {
      $("#vEmail").addClass('border border-danger');
      vError = true;
    } else {
      $("#vEmail").removeClass('border border-danger');
    }

    if (iUserId.length == 0) {
      if (vPassword.length == 0) {
        $("#vPassword").addClass('border border-danger');
        vError = true;
      } else {
        $("#vPassword").removeClass('border border-danger');
      }
    }

    if (eType.length == 0) {
      $("#eType").addClass('border border-danger');
      vError = true;
    } else {
      $("#eType").removeClass('border border-danger');
    }

    if (eStatus.length == 0) {
      $("#eStatus").addClass('border border-danger');
      vError = true;
    } else {
      $("#eStatus").removeClass('border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".user_form").submit();
        return true;
      }, 500);
    }

  });
</script>