<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Add Category</h4>
              </div>
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <form class="category_form" method="POST" action="/category/add_action" enctype="multipart/form-data">

              <input type="hidden" name="iCategoryId" value="{{categoryData._id}}">

              <div class="form-group row mb-4">
                <label for="vCategory" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Category</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vCategory" id="vCategory" placeholder="Category"
                    value="{{categoryData.vCategory}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="iOrder" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Order</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control numeric" name="iOrder" id="iOrder" placeholder="Order"
                    value="{{categoryData.iOrder}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Image</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="file" class="form-control" name="vImage" id="vImage" accept="image/*"
                    onchange="showPreview(event);">
                  {{#if categoryData.vImage}}
                  <div class="image_div">
                    <img src="/upload/category/{{categoryData.vImage}}" style="height: 100px;">
                  </div>
                  {{/if}}
                  <img src="" id="image_preview" style="height: 100px; display: none;">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eStatus" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Status</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eStatus" id="eStatus">
                    <option value="">Select Status</option>

                    <option value="Active" {{#if_equal categoryData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal categoryData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive</option>

                  </select>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eFeature" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Feature</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eFeature" id="eFeature">
                    <option value="">Select Feature</option>
                    <option value="Yes" {{#if_equal categoryData.eFeature "Yes" }} selected {{/if_equal}}>Yes</option>
                    <option value="No" {{#if_equal categoryData.eFeature "No" }} selected {{/if_equal}}>
                      No</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-primary mt-3 save">Save</button>
                  <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-loader spin mr-2">
                      <line x1="12" y1="2" x2="12" y2="6"></line>
                      <line x1="12" y1="18" x2="12" y2="22"></line>
                      <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                      <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                      <line x1="2" y1="12" x2="6" y2="12"></line>
                      <line x1="18" y1="12" x2="22" y2="12"></line>
                      <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                      <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>Loading</button>
                  <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/category";
  });

  $(document).on("input", ".numeric", function () {
    this.value = this.value.replace(/\D/g, '');
  });

  function showPreview(event) {
    if (event.target.files.length > 0) {
      $(".image_div").hide();
      var src = URL.createObjectURL(event.target.files[0]);
      var preview = document.getElementById("image_preview");
      preview.src = src;
      preview.style.display = "block";
    }
  }

  $(document).on('click', '.save', function () {

    var vCategory = $("#vCategory").val();
    var iOrder = $("#iOrder").val();
    var eStatus = $("#eStatus").val();
    var eFeature = $("#eFeature").val();
    var vError = false;

    if (vCategory.length == 0) {
      $("#vCategory").addClass('border border-danger');
      vError = true;
    } else {
      $("#vCategory").removeClass('border border-danger');
    }

    if (iOrder.length == 0) {
      $("#iOrder").addClass('border border-danger');
      vError = true;
    } else {
      $("#iOrder").removeClass('border border-danger');
    }

    if (eStatus.length == 0) {
      $("#eStatus").addClass('border border-danger');
      vError = true;
    } else {
      $("#eStatus").removeClass('border border-danger');
    }

    if (eFeature.length == 0) {
      $("#eFeature").addClass('border border-danger');
      vError = true;
    } else {
      $("#eFeature").removeClass('border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".category_form").submit();
        return true;
      }, 500);
    }

  });
</script>