<div class="wrapper">
    <div class="logo">
        {{!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png"
            alt=""> --}}
    </div>
    <div class="text-center mt-5 name">
        verifycation Form
    </div>
    <form class="p-3 mt-3" action="/verify_action" method="POST">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="otp" id="otp" placeholder="Enter OTP">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
</div>