<div class="container1">
  <div class="ml-3 mr-3">
    <div class="row">
      <div id="flHorizontalForm" class="col-lg-8 offset-lg-2 layout-spacing layout-top-spacing pt-4">
        <div class="statbox widget box box-shadow">
          <div class="widget-header">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>Add System Email</h4>
              </div>
            </div>
          </div>
          <div class="widget-content widget-content-area">
            <form class="frm" method="POST" action="/system-email/add_action" enctype="multipart/form-data">

              <input type="hidden" name="iSystemEmailId" value="{{systemEmailData._id}}">

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Email Code</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vEmailCode" id="vEmailCode" placeholder="Enter Email Code"
                    value="{{systemEmailData.vEmailCode}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Email Title</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vEmailTitle" id="vEmailTitle" placeholder="Enter Email Title"
                    value="{{systemEmailData.vEmailTitle}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">From Name</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vFromName" id="vFromName" placeholder="Enter From Name"
                    value="{{systemEmailData.vFromName}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">From Email</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vFromEmail" id="vFromEmail" placeholder="Enter From Email"
                    value="{{systemEmailData.vFromEmail}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Cc Email</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vCcEmail" id="vCcEmail" placeholder="Enter Cc Email"
                    value="{{systemEmailData.vCcEmail}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Bcc Email</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vBccEmail" id="vBccEmail" placeholder="Enter Bcc Email"
                    value="{{systemEmailData.vBccEmail}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Email Subject</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="vEmailSubject" id="vEmailSubject" placeholder="Enter Email Subject"
                    value="{{systemEmailData.vEmailSubject}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Email Message</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <textarea class="form-control" name="tEmailMessage" id="tEmailMessage" placeholder="Enter Email Message">{{systemEmailData.tEmailMessage}}</textarea>
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Sms Message</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="tSmsMessage" id="tSmsMessage" placeholder="Enter Sms Message"
                    value="{{systemEmailData.tSmsMessage}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Internal Message</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <input type="text" class="form-control" name="tInternalMessage" id="tInternalMessage" placeholder="Enter Internal Message"
                    value="{{systemEmailData.tInternalMessage}}">
                </div>
              </div>

              <div class="form-group row mb-4">
                <label for="eStatus" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Status</label>
                <div class="col-xl-10 col-lg-9 col-sm-10">
                  <select class="form-control" name="eStatus" id="eStatus">
                    <option value="">Select Status</option>
                    <option value="Active" {{#if_equal systemEmailData.eStatus "Active" }} selected {{/if_equal}}>Active
                    </option>
                    <option value="Inactive" {{#if_equal systemEmailData.eStatus "Inactive" }} selected {{/if_equal}}>
                      Inactive</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-primary mt-3 save">Save</button>
                  <button class="btn btn-primary mt-3 save_loader" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-loader spin mr-2">
                      <line x1="12" y1="2" x2="12" y2="6"></line>
                      <line x1="12" y1="18" x2="12" y2="22"></line>
                      <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                      <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                      <line x1="2" y1="12" x2="6" y2="12"></line>
                      <line x1="18" y1="12" x2="22" y2="12"></line>
                      <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                      <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>Loading</button>
                  <button type="button" class="btn btn-dark mt-3 cancel">Cancel</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', '.cancel', function () {
    location.href = "/system-email";
  });

  $(document).on('click', '.save', function () {

    var vEmailCode          = $("#vEmailCode").val();
    var vEmailTitle         = $("#vEmailTitle").val();
    var vFromName           = $("#vFromName").val();
    var vFromEmail          = $("#vFromEmail").val();
    var vCcEmail            = $("#vCcEmail").val();
    var vBccEmail           = $("#vBccEmail").val();
    var vEmailSubject       = $("#vEmailSubject").val();
    var tEmailMessage       = $("#tEmailMessage").val();
    var tSmsMessage         = $("#tSmsMessage").val();
    var tInternalMessage    = $("#tInternalMessage").val();
    var eStatus             = $("#eStatus").val();
    var vError              = false;

    if (vEmailCode.length == 0) {
      $("#vEmailCode").addClass('border border-danger');
      vError = true;
    } else {
      $("#vEmailCode").removeClass('border border-danger');
    }

    if (vEmailTitle.length == 0) {
      $("#vEmailTitle").addClass('border border-danger');
      vError = true;
    } else {
      $("#vEmailTitle").removeClass('border border-danger');
    }

    if (vFromName.length == 0) {
      $("#vFromName").addClass('border border-danger');
      vError = true;
    } else {
      $("#vFromName").removeClass('border border-danger');
    }

    if (vFromEmail.length == 0) {
      $("#vFromEmail").addClass('border border-danger');
      vError = true;
    } else {
      $("#vFromEmail").removeClass('border border-danger');
    }

    if (vCcEmail.length == 0) {
      $("#vCcEmail").addClass('border border-danger');
      vError = true;
    } else {
      $("#vCcEmail").removeClass('border border-danger');
    }

    if (vBccEmail.length == 0) {
      $("#vBccEmail").addClass('border border-danger');
      vError = true;
    } else {
      $("#vBccEmail").removeClass('border border-danger');
    }

    if (vEmailSubject.length == 0) {
      $("#vEmailSubject").addClass('border border-danger');
      vError = true;
    } else {
      $("#vEmailSubject").removeClass('border border-danger');
    }

    if (tEmailMessage.length == 0) {
      $("#tEmailMessage").addClass('border border-danger');
      vError = true;
    } else {
      $("#tEmailMessage").removeClass('border border-danger');
    }

    if (tSmsMessage.length == 0) {
      $("#tSmsMessage").addClass('border border-danger');
      vError = true;
    } else {
      $("#tSmsMessage").removeClass('border border-danger');
    }

    if (tInternalMessage.length == 0) {
      $("#tInternalMessage").addClass('border border-danger');
      vError = true;
    } else {
      $("#tInternalMessage").removeClass('border border-danger');
    }

    if (eStatus.length == 0) {
      $("#eStatus").addClass('border border-danger');
      vError = true;
    } else {
      $("#eStatus").removeClass('border border-danger');
    }

    if (vError == true) {
      return false;
    } else {
      $(".save").hide();
      $(".save_loader").show();
      setTimeout(function () {
        $(".frm").submit();
        return true;
      }, 500);
    }

  });
</script>