<div class="container1">
    <div class="ml-3 mr-3">
      <div class="row">
        <div id="tableFooter" class="col-xl-12 col-md-12 col-sm-12 col-12 layout-spacing layout-top-spacing">
          <div class="statbox widget box box-shadow">
            <div class="widget-header">
              <div class="row">
                <div class="col-xl-11 col-md-11 col-sm-12 col-11 text-left">
                  <h4>System Email Listing</h4>
                </div>
                <div class="col-xl-1 col-md-1 col-sm-12 col-1 text-right">
                  <a href="/system-email/add"  data-toggle="tooltip" data-placement="top" title="Add"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle text-primary"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg></a>
                </div>
              </div>
            </div>
            <div class="widget-content widget-content-area">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed mb-4">
                  <thead>
                    <tr align="center">
                      <th>Email Code</th>
                      <th>Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control form-control-sm keyword" placeholder="Email code" id="vEmailCode">
                        </td>
                      <td>
                        <select class="form-control form-control-sm" id="eStatus">
                            <option value="">Select</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </thead>
                  <tbody id="table_record">
                    
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

<script type="text/javascript">

  function filter(iSystemEmailId, vAction, vPage) {
    var vEmailCode      = $("#vEmailCode").val();
    var eStatus         = $("#eStatus").val();
    var iSystemEmailId  = iSystemEmailId;
    var vAction         = vAction;
    var vPage           = vPage;

    $("#table_record").html('');
    $("#table_record").html('<tr><td colspan="5"><div class="loader multi-loader mx-auto"></div></td></tr>')

    $.ajax({
        url: "/system-email/ajax_listing",
        type: "POST",
        data:  { vEmailCode:vEmailCode, eStatus:eStatus, iSystemEmailId:iSystemEmailId, vAction:vAction, vPage:vPage }, 
        success: function(response) {
          $("#table_record").html(response);
        }
    });
  }

  $(document).ready(function() {
    filter("", "search", "");   
  });

  $('.keyword').keyup(_.debounce(function() {
    filter("", "search", "");
  }, 1000));

  $(document).on('change','#eStatus',function(){
      filter("", "search", "");
  });

  $(document).on('click','.delete',function(){
      if (confirm('Are you sure to delete this record ?')) {
          filter($(this).data("id"), "delete", "");
      }
  });

  $(document).on('click','.ajax_page',function(){
    var vPage = $(this).data("id");
      filter("", "search", vPage);
  });

</script>